:root {
  //common colors
  --pc-c-primary-color: #ee26c2;
  --pc-c-accent-color: #2676ee;
  --pc-c-elements-color: #f4d4ed;
  --pc-c-gray: #949494;
  --pc-c-light-gray: #cbcbcb;

  //backgrounds
  --pc-c-primary-background: #ffffff;
  --pc-c-secondary-background: #f5f5f5;
  --pc-c-elements-background: #ebebeb;

  //font colors
  --pc-c-primary-font-color: #000000;
  --pc-c-secondary-font-color: #525252;
  --pc-c-elemens-font-color: #ffffff;
}
